[2019-02-08 23:17] Niels-P opened #1 "Block doesn't render Wordpress version 5.0.3"
Hi MWDelaney,

I'm having an issue with this library. It created a directory where I can place my block. I followed your testimonial example, and it gets displayed as an option within the Gutenberg editor.

I've attached ACF fields to the block, and those are shown as well. However, when I enter preview mode / go to the page where the block is supposed to be, it's blank. It seems like it doesn't r

[2019-02-08 23:39] MWDelaney commented on #1
Can you try entering some static content in the block template and seeing if that renders in the preview? That would narrow down the issue to either the template or ACF.

[2019-02-11 21:50] #1 closed

[2019-02-11 21:50] MWDelaney commented on #1
This should be fixed. Thank you for your patience!

[2019-02-12 23:07] TangRufus opened #3 "`resources/views/blocks` might not be created"
https://github.com/MWDelaney/sage-acf-gutenberg-blocks/blob/6eac68833bb12477b40086d831421c589b4cfc27/sage-acf-gutenberg-blocks.php#L32-L38

This might break on non-linux servers OR servers that enforce tight file permissions.

Suggest: Use [WP Filesystem API](https://codex.wordpress.org/Filesystem_API) and check double check directory is created.

[2019-02-13 15:46] MWDelaney commented on #3
Or just rely on the user to create the directory, maybe?

[2019-02-13 17:04] TangRufus commented on #3
Agree.

Going further, a better way might be let users to provide a list of file paths, i.e:
Current:

[code]

New (something like this):

[code]

---

This gives users flexibilities put balde file paths in other locations AND other packages to inject more paths.

[2019-02-13 19:34] MWDelaney commented on #3
We'd still need to use the `DirectoryIterator` to get all the templates in the directory. Otherwise we'd need to inform the library of each template individually. I'll play with this a little...

[2019-02-14 20:39] MWDelaney commented on #3
e4666a94b22b85bfe6bfcb7264b604a5b50565f1 should allow adding more block locations via filter.

[2019-02-14 20:39] #3 closed

[2019-03-22 15:15] stephanschonbeck opened #4 "Add block "Mode" editor option"
https://github.com/MWDelaney/sage-acf-wp-blocks/blob/e61fc7a00f5c0fbb0b4a786a105614c7ad92d1e7/sage-acf-gutenberg-blocks.php#L49:L57

Add block "Mode" so "Preview" or "Edit" can used as default.
It's not possible to select default edit mode for the block.

https://www.advancedcustomfields.com/resources/acf_register_block/

E.g.:

`'mode' => 'edit' `

[2019-03-26 15:16] #4 closed

[2019-04-12 10:27] stephanschonbeck opened #5 "Use Sober controller"
Is it possible to use Sober controller with this?

I have tried but it doesn't work.

Thanks.

[2019-04-20 06:29] kylecarlson opened #6 "Example block template issue"
[code]

I was having issues getting the block to show up on a Page. I ended up looking at a Post to see if was there, and it was. I tried removing the comma, and then it showed up on the page and post.

[code]

[2019-04-20 14:44] #6 closed

[2019-04-20 14:44] MWDelaney commented on #6
Thank you!

[2019-04-20 14:45] MWDelaney commented on #5
So far it does not appear possible. Adding support will probably require @darrenjacoby’s insight and assistance.

[2019-05-08 11:03] pepijn-vanvlaanderen opened #7 "ACF 5.8.0 update results in Notice: Undefined index: className"
In sage-acf-gutenberg-blocks.php on line 104 $block['className'] should be removed. Apparently this is removed in the latest ACF version?

[2019-05-10 14:19] ArnoSchneider opened #8 "fix for notice on $block['className']"
This should fix the notice on the undefined $block['className']

`
	if(!empty($block['className'])):
		$class_name = $block['className'] . ',';
	else:
		$class_name = false;
	endif;

	$block['classes'] = implode(' ', [$block['slug'], $class_name . 'align'.$block['align']]);
`

[2019-05-14 20:05] campaignupgrade commented on #7
I'm getting the name notice.

`Notice: Undefined index: className in /app/wp-content/themes/iiba/vendor/mwdelaney/sage-acf-gutenberg-blocks/sage-acf-gutenberg-blocks.php on line 104`

WP 5.2
ACF 5.8.0
SAWB 0.4.2

[2019-05-25 20:22] daveriedstra opened #11 "attempts to load non-php template files"
Thanks for writing this. I'm just trying it out and it looks like the library is trying to load the vim temp file for my test block template:

[code]

[2019-06-18 01:10] dotsam commented on #11
+1. Tried to create the views/blocks folder with a .gitkeep folder for version control, and it errored out in the same way.

Will probably need some more checks when looping through the DirectoryIterator.

[2019-06-18 18:28] SamirJoza opened #14 "Custom Blocks disappear with update to latest ACF"
Hi,
maybe it's just me, since I am fairly new to Sage, but my custom blocks used to work with ACF 5.8 latest RC, but once I updated ACF to the latest production version, everything literally disappeared. And is no longer working.
this is what I have in my /app/filters.php
`add_filter( 'block_categories', function( $categories, $post ) {
    return array_merge(
        $categories,
        array(

[2019-06-21 08:13] jnaklaas commented on #14
I can confirm this issue. Except that is does work with the latest ACF PRO production version. It does NOT work however with the free ACF production versions (5.8.0 nor 5.8.1)

[2019-06-25 06:08] nahojj commented on #14
Same for me, I'm running ACF 5.8.1 and having the same problem.

[2019-06-25 06:25] nahojj commented on #14
It seems that the plugin is trying to call "acf_register_block()" which is the old function in ACF to register blocks, the new one is called "acf_register_block_type()".. Please, can you fix this?

[2019-06-25 06:36] nahojj commented on #14
Never mind.. It's wokring for me now

[2019-06-25 06:44] nahojj commented on #14
I've removed "className" on line 104 and now it works for me.

[2019-06-25 08:16] jnaklaas commented on #14
Yes you should change line 104 like this:
[code]
But still then, only works in ACF PRO, not the free ACF. May I assume you' running ACF PRO as well @nahojj ?

[2019-06-27 09:15] nahojj commented on #14
@jnaklaas I do use ACF PRO as well! I don't think the block registration for ACF  is free :)

[2019-06-27 09:16] nahojj commented on #14
Please read: https://www.advancedcustomfields.com/pro/

[2019-06-27 09:21] jnaklaas commented on #14
I see :) In that case, as far as I'm concerned this issue's solved.

[2019-07-01 20:51] erikhartin commented on #11
+1. having browsed the folder in Finder by mistake leaving a .DS_STORE file creates same issue

[2019-07-01 20:59] erikhartin opened #15 "Switch-to-preview button missing"
Using dev-master it is no longer possible to switch between the ACF editor and the preview of the created block in the Gutenberg editor (the Switch to preview-button is missing and it only displays the ACF editor inline – it is not possible to edit ACF fields in the sidebar whilst viewing the preview in the main content window).

Already created blocks who are in preview-mode stays that way (and w

[2019-07-03 03:02] MWDelaney commented on #14
Closing this since it seems to be solved. I can reopen if anyone using PRO finds this issue as well.

[2019-07-03 03:02] #14 closed

[2019-07-03 03:05] MWDelaney commented on #15
Can you confirm the `mode` you have set in the comment at the top of your block blade file? Mode is a relatively recent addition to this library but it should let you control exactly the behavior you’re talking about here. See more about `mode` [here](https://www.advancedcustomfields.com/resources/acf_register_block_type/)

[2019-07-05 13:20] erikhartin commented on #15
THANK YOU! I suspected as much, but I was looking at the woeful documentation from the Gutenberg project and not the ACF docs and couldn't find any reference to this. Works now.

[2019-07-05 13:20] #15 closed

[2019-07-23 15:09] peXed opened #19 "Plugin checks acf_register_block before ACF is initialized"
Hello!

I just tried your plugin but ran into an issue. The blocks didn't get loaded, because you very first check failed.

`
if (! function_exists('acf_register_block')) {
 return;
}
`

I guess the problem is the way i implemented ACF (I include it in the setup.php of my sage theme).

An easy fix would be, to move the check into the 'acf/init' action. Or would that break something?
Is there a rec

[2019-07-31 04:43] mcnamee commented on #8
@MWDelaney would you mind releasing a new release to Packagist?

[2019-07-31 15:14] orditeck commented on #8
@mcnamee I did.

https://github.com/orditeck/sage9-acf-wp-blocks

[2019-07-31 19:53] realcgslav commented on #8
Second line:
`$class_name = $block['className'] . **','**;`

should be:
`$class_name = $block['className'] . **' '**;`

This comma is joining added additional classes. Space is working better ;)

[2019-08-16 20:01] xaqrox opened #22 "Add filter for block data."
In the absence of a solution for #5, it would be nice if we could still get our hands on block data so we could avoid processing stuff in the templates. Something like this, for a block defined by `my-block.blade.php`:

[code]
PR incoming.

[2019-08-16 20:23] xaqrox commented on #11
For those who are subscribed, that PR should solve this issue.

[2019-08-18 14:32] #11 closed

[2019-08-18 14:34] MWDelaney commented on #22
Closed by #23

[2019-08-18 14:34] #22 closed

[2019-08-18 14:40] MWDelaney commented on #8
I plan to do this soon once I thoroughly test the newly merged PRs from today. In the meantime, if you set your composer version requirement to `dev-master` rather than a particular version number you'll get the latest master branch.

[2019-08-19 06:20] gscr opened #24 "Align and SupportsAlign have no effect"
My custom blocks load and save but it seems like the Align and SupportsAlign options have no effect. I am new to gutenberg but am I right in saying SupportsAlign: false should disable the alignment options in the block editor?

[2019-08-20 17:49] ushka opened #25 "Render ACF Block inside a page template"
Hello,

Thank you for the wonderful plugin.

Is there way to render an ACF Block you've created in a given page template (in my case a post template)?

I have developed a specific layout block that I want to be preloaded for all posts that have template = "three-col-layout".

Please advise if this is possible.

[2019-09-02 20:02] luukScheur commented on #19
This is probably not due to a wrong implementation of ACF.
I've had a similar problem and it is because the function `acf_register_block` is only available in the **PRO** version. Added since [version 5.8.0](https://www.advancedcustomfields.com/resources/acf_register_block_type/) so make sure to have the ACF Pro plugin ^5.8.0.

If you still find issues please provide WP + plugins versions.

[2019-09-02 20:13] luukScheur commented on #25
Hi @ushka since the Gutenberg editor is available inside the content you could simply display the_content.

If you would like to use some sort of block template (pre-defined block layout) you could create [re-usable blocks](https://www.wpbeginner.com/beginners-guide/how-to-create-a-reusable-block-in-wordpress/).
I think that is your best option since you want this block to be editable. Else you co

[2019-09-13 09:24] ciromattia opened #27 "Block won't render in post_content"
I followed the README, the block is being enlisted and I can use it with my custom ACFs, it's even being rendered by the *sage_blocks_callback()* callback, but the post content isn't being updated, I only get the post's data commented out.
The field **post_content** in the database is like this:

[code]

I even tried to make the callback `return` instead of `echo` but no luck.
Is this an issue wit

[2019-09-17 14:21] ciromattia commented on #27
Nailed it, it was my fault: `get_the_content()` doesn't pass through the `the_content` filter, so I had to change all `{!! get_the_content() !!}` occurrences in my code with `@php the_content() @endphp`

[2019-09-17 14:21] #27 closed

[2019-10-10 09:32] jnaklaas opened #29 "Extra css class"
All Gutenberg blocks can take an extra css class in the wordpress admin, in the block settings panel under 'advanced'. In native gutenberg blocks, these classes are added to the block element.

In my custom blocks, created with sage-acf-wp-blocks, these classes are not added. In this case, I added an extra css class `test` in the blocks settings panel.

[code]

The above code's ouput:

[code]
Whil

[2019-10-10 14:01] #29 closed, assigned to nobody

[2019-11-15 14:24] tedw commented on #25
@ushka I was able to render a block in my template with `@include('blocks.my-custom-block')` without any issues. I then cloned the block fields to that page’s field group in ACF.

[2019-12-23 23:14] vdrnn opened #31 "ACF Google Maps"
I'm trying to create a Google Maps block with the example code from the [ACF documentation](https://www.advancedcustomfields.com/resources/google-map/).

For some reason, the map doesn't render properly, see [here](https://www.dropbox.com/s/ktebri8apfmt8f0/Screenshot%202019-12-24%2000.08.46.png?dl=0).

I don't get any warnings or errors in the console log. When I paste the exact same code to the f

[2020-01-07 21:41] djmtype opened #32 "Paragraph and Line Breaks are being added"
Empty paragraphs `<p></p>` and `<br />` are being returned from my block template onto the page. I checked my file for gremlins, etc., to be sure there weren't any hidden characters. BTW, all of my ACF fields are just plain text and textarea (without formatting) input fields.

When using this code below with the exact indentation/spacing, I get the unwanted markup:

[code]

The HTML returns as thi

[2020-01-07 21:49] djmtype commented on #32
Same thing happens when I copy/paste the Testimonial example from this repo

[2020-01-07 21:53] djmtype commented on #32
Ok, found the issue. Plugin conflict with Custom Content Shortcodes.

[2020-01-07 21:53] #32 closed

[2020-01-22 07:21] bebjakub commented on #24
@MWDelaney could you create a new package release for include those changes? Thank you!

[2020-01-29 18:34] luukskeur commented on #24
@bebjakub This is already added to the core files with this PR: https://github.com/MWDelaney/sage-acf-wp-blocks/pull/26.

This issue can be closed.

[2020-01-29 18:46] bebjakub commented on #24
@luukskeur thanks. I see now. I'll require [dev-master](https://packagist.org/packages/mwdelaney/sage-acf-gutenberg-blocks#dev-master)

[2020-01-30 20:30] Dorf opened #33 "Installing via Composer did not install current version"
In the Sage directory, I ran
`composer require "mwdelaney/sage-acf-gutenberg-blocks"`

It worked great, then a couple of days later I got an error for ".DS_Store" file not having a title. You fixed this issue with a filecheck in commit #21. But that commit was not in my newly installed build. I updated it manually and it is working again.

[2020-02-20 20:48] nanoo-k opened #35 "Accordion body renders weird at ~850px width"
I ran into an issue where the accordion content blocks were looking weird at roughly 850px screen widths on `Google Chrome Version 80.0.3987.116 (Official Build) (64-bit)`. I'm working from the `dev-master` branch.

The issue didn't appear on accordions that had plain text inside them but in the accordion that had images and other formatting.

[code]

I fixed it by overriding this CSS (Line 1511,

[2020-02-26 14:06] tombroucke opened #36 "[Feature request] Support for anchors"
Hi,

Can you add support for anchors? https://support.advancedcustomfields.com/forums/topic/support-for-anchors/

Thanks,
Tom

[2020-02-26 14:37] tombroucke commented on #36
Added in 7e8b213

[2020-02-26 14:37] #36 closed

[2020-03-10 16:10] unnamedfeeling opened #39 "Camel case names will not work on linux but will work on windows environment"
**My problem:**
When I create a block according to instructions it will work correctly on my local environment (Win10 + php 7.2 + Mariadb 10.1 + WP 5.3.2 + Sage 9.x + ACF Pro 5.8.7) and will render correctly render without any errors.
But when I upload the code to my dev server it will throw an error:
`Fatal error: Uncaught InvalidArgumentException: View [blocks.parallaxblock] not found. in /var/w

[2020-03-10 19:30] robmeijerink commented on #39
Hmm I don't know what could be causing this.

I don't have any issues on MacOS or Ubuntu Linux using blockCamelCase.blade.php or BlockPascalCase.blade.php.

[2020-04-29 07:18] basvandertogt opened #41 "Hide default blocks"
What is a proper way to hide the default Gutenberg Blocks in combination with this plugin?

[2020-04-30 13:57] tedw commented on #24
`SupportsAlign: false` isn’t having any effect for me in WP v5.4.1

[code]

I’ve enabled wide and full alignments using `add_theme_support('align-wide');` but removing that doesn’t seem to make a difference.

This isn’t a major issue for me, just wanted to mention it in case it’s an easy fix. Thanks so much for your work on this plugin, it’s great!

[2020-04-30 14:29] bebjakub commented on #24
Hi, ```SupportsAlign: false``` should just hide align options in the block... for more info refer to [acf_register_block_type](https://www.advancedcustomfields.com/resources/acf_register_block_type/)

[2020-05-27 14:09] djmtype opened #42 "ACF 5.9 Inner Blocks"
ACF 5.9 is right around the corner. I've been trying out the beta with this library, but it seems to fail, probably for obvious reasons – ACF (or WP) is using a parameter this library doesn't yet support in order to get inner blocks working. `__experimental_jsx`

I tried getting it to work but modifying `sage-acf-gutenberg-blocks.php` by adding this: `'__experimental_jsx' => 'SupportsJSX'`, then r

[2020-06-15 15:08] tedw commented on #42
Not yet but am anxious to try it out. ACF 5.9 Beta2 was released today FYI:
https://www.advancedcustomfields.com/blog/acf-pro-5-9-beta2/

[2020-06-28 20:56] fabianwurk opened #43 "Issue passing data to a foreach loop in a gutenberg block"
I have a function set up in my App.php controller which I'm looking to pass to a Gutenberg block, but unfortunately its showing an error "**Undefined variable: testimonial_loop in on line : invalid argument supplied for foreach() in on line**" - as you will see on attached screenshot, I've added the same function and outputted through a non-Gutenberg blade template which works fine.Any idea why th

[2020-06-29 13:10] MWDelaney commented on #43
This is more of a question for the [roots discourse](https://discourse.roots.io). This plugin just stores your ACF data as JSON files and loads them. It shouldn't affect your ability to pass data to a Gutenberg block.

[2020-06-29 13:10] #43 closed

[2020-06-29 14:11] fabianwurk opened #44 "ACF field not displaying"
I have a block with cpt query which works fine, it just isn't displaying the custom field - the image and the_content display fine. Is there something else that needs to be added to get acf text field displaying (**testimonial_by'**)?

`          $the_query = new WP_Query(array(
            'post_type'			=> 'testimonial',
            'posts_per_page'	=> -1,
            'order'				=> 'DESC'

[2020-07-02 10:30] #44 closed

[2020-07-02 10:30] fabianwurk commented on #44
Issue has now been resolved.

[2020-07-15 02:45] Dorf commented on #42
ACF 5.9 is at Beta3 now. I respectfully request the addition of `SupportsJSX: true` to add support for InnerBlocks

[2020-07-15 04:07] Dorf commented on #42
@djmtype I have it working with ACF 5.9 Beta3.
Update sage-acf-gutenberg-blocks.php with:
[code]

And then
[code]

And then for the template
[code]

[2020-07-20 21:55] djmtype commented on #42
@Dorf Thanks a bunch. That worked.

Though, I wonder why Elliot's example, [posted here](https://www.advancedcustomfields.com/blog/acf-5-9-exciting-new-features/), didn't work for me.

[2020-08-01 09:29] tombroucke commented on #5
I am used to pass my data through the `sage/blocks/$slug/data` filter, but this is not the best way imo. I am trying out some other ways to pass data. This is what I came up with (consider a block "Title" with just one text field):

**your-theme/app/Blocks/Title.php**:
[code]

**your-theme/resources/views/blocks/title.blade.php**:
[code]

**your-theme/app/setup.php**:
[code]

The only downside cou

[2020-08-07 17:02] guimachiavelli opened #45 "Template location mismatch when using 'sage-acf-gutenberg-blocks-templates' filter"
When using the filter `sage-acf-gutenberg-blocks-templates` to override the template location from `views/blocks` to e.g. `views/gutenberg`, `sage_blocks_callback` will still always and only look for template files inside `views/blocks`.

Is this by design? It definitely wasn’t what I was expecting and it took me some time to realise that, even if the block had been registered via the metadata ins

[2020-08-13 21:15] robmeijerink commented on #45
Hi, thank you for reporting this bug. I don't think this was done on purpose, so I made a fix and a PR. :)

[2020-08-14 16:35] guimachiavelli commented on #45
Brilliant, thanks for taking the time to look into it =)

[2020-08-14 16:35] #45 closed

[2020-08-25 13:06] alfaice commented on #42
@djmtype It seems that from 5.9 RC1 the “__experimental_jsx” flag changed to “jsx”, so changing that should make it work again:

    // If the SupportsInnerBlocks header is set in the template, restrict this block mode feature
    if (!empty($file_headers['supports_jsx'])) {
       $data['supports']['jsx'] = $file_headers['supports_jsx'] === 'true' ? true : false;
    }

[2020-08-25 14:30] djmtype commented on #42
@alfaice Unfortunately, that wasn't the case for me.

[code]

inner-block.blade.php
[code]

[2020-08-25 14:53] alfaice commented on #42
@djmtype I also just tried it with a clean Sage10 install and WP 5.5. Can you try changing the mode on the block to preview? It seems that on edit mode it also doesn't let me add one, but it seems to work on preview mode.

    {{--
      Title: Inner Block
      Mode: preview
      Align: full
      SupportsAlign: false
      SupportsMode: true
      SupportsInnerBlocks: true
      Category: forma

[2020-08-25 15:10] djmtype commented on #42
@alfaice `Mode: preview` or `auto `– with Sage 9.0.9. `SupportsInnerBlocks: true` is completely being ignored. I can't recall which ACF beta and WP version I had it working either. This sucks.

[2020-08-25 15:17] djmtype commented on #42
@alfaice This is how it's written in ACF 5.9.0. I suffer from Dyslexia, so looking at it, it's hard for me to determine how it needs to be written for sage-acf-wp-blocks.

[code]

[2020-08-26 06:02] alfaice commented on #42
@djmtype Yeah, it still works. Glad that you figured it out!

[2020-09-13 12:22] jasperf opened #47 "No Block Types Exist"
I added the plugin, added the example data to `block.blade.php` inside `resources/views/blocks/testimonial` and added real block data to `testimonial.blade.php` in the same directory. But now when I add a new field in Advanced Custom Fields I am told no block type exists? What am I missing here?

[2020-09-13 22:35] jasperf commented on #47
Realized I did not need an extra `block.blade.php`. Tried without it and testimonial inside the `blocks` directory instead of a sub directory.  Still I am seeing `no block types exist` inside the Advanced Custom Fields` Fields builder under location. So I must be missing something here. But what?

[2020-09-13 23:30] jasperf commented on #47
When I use the Advanced Custom FIelds as a must-use plugin `mu-plugins` the blocks do load. So it seems if I load it form the theme using `filters.php` it hooks into too late perhaps?

[2020-09-13 23:43] #47 closed

[2020-09-15 12:50] andevit opened #48 "Register block preview image with acf_register_block_type"
Hi guys!
There is a solution for add a preview image for the core Gutenberg blocks when you hover over their icons in the top left add block popup?

It would be great to be able to set a static image for custom blocks registered with acf_register_block_type.

For example we could add a "PreviewImage" like this:

[code]

Can you help me?

[2020-09-15 13:00] robmeijerink commented on #48
Hi!

Looking at ACF's [documentation](https://www.advancedcustomfields.com/resources/acf_register_block_type/), are you referring to the section with Header: Adding block previews ?

[2020-09-22 17:53] aidanweltner commented on #42
#49

[2020-09-30 18:17] speakerbug commented on #42
This should now be fixed in the new release that was just merged in! :)

[2020-09-30 18:54] aidanweltner opened #50 "Issue with directory views/blocks in v0.6"
I know that you just pushed the update for version 0.6 but I found a bug with PR #46. The default folder for blocks is now `views/block` instead of `views/blocks` as it is in all the documentation. I just got an error after updating to version 0.6,

The error states that it is looking in the correct folder but only goes away when I change that folder name to `views/block`. I don't see exactly wher

[2020-10-01 07:30] robmeijerink commented on #50
This shouldn't happen since the paths that are checked are still correct. Are you sure that you have a block.blade.php file in your views/blocks folder?

[2020-10-01 17:56] speakerbug commented on #50
Just commenting to say that I received the same error as @aidanweltner after updating.

[2020-10-01 19:41] aidanweltner commented on #50
@robmeijerink yes, I didn't change any files or any names and all my blocks were working with v0.5. The error only showed after I updated the package with Composer.

I should also clarify that this project was with Sage 9.

[2020-10-02 11:57] robmeijerink commented on #50
Thanks, I have found the issue.

[2020-10-05 12:41] pepijn-vanvlaanderen commented on #39
Having the same issue, all lowercase seems to be the solution for now. The problem seems to occur after you saved a block once, after that when you try to update the block again it does not update anymore and sometimes the block disappears totally.

[2020-10-13 15:26] djmtype commented on #50
After updating to sage-acf-wp-blocks v0.6 I'm also having this problem.

If I don't update my directory from `blocks` to `block`, Wordpress throws an error.

If I do, then none of my blocks can be found.

[2020-10-13 15:38] djmtype opened #52 "Updating to v0.6 leads to error"
After updating to sage-acf-wp-blocks from v0.5 to v0.6, WordPress throws an error. I haven't changed any of my blocks' syntax or location.

I also tried removing this block from my directory, but then I got the same error for the next block.

[code]

My block

[code]

[2020-10-14 00:35] speakerbug commented on #52
Just an FYI this is actually already opened as an issue #50 and there's a fix as a pull request #51 but it's been sitting for almost two weeks now.

[2020-10-22 12:34] skynetpy1 commented on #41
You can allow blocks with this hook:

add_filter( 'allowed_block_types', 'AllowBlockTypes' );

function AllowBlockTypes($allowed_blocks)	{
		return [
			'core/image',
			'core/video',
			'core/paragraph',
			'core/heading',
			'core/list',
			'acf/custom-block', // custom-block is block file name ( i.e custom-block.blade.php)
		];
}

[2020-10-29 20:38] blift commented on #52
Hi I have aded pull request with fixed error, please verify

[2020-10-30 08:21] robmeijerink commented on #52
@MWDelaney Some people are facing issues in Sage 9. Any chance you can merge the PR that fixes this?

[2020-10-30 08:43] blift commented on #52
@MWDelaney and @robmeijerink please verify pull request #51 before merge, in my case still it not working on sage 9, I've added #53 pull request with update, but not tested with sage 10. The path result is the same in sage_blocks_callback method line 221, so should work properly.

[2020-11-16 12:06] intelligence commented on #5
@tombroucke Could you show an example how you use the filter aswell? I can't wrap my head around it.

Thanks!

[2020-11-18 12:22] tombroucke commented on #5
@intelligence The use of the filter is described in the readme file (Filter block data): [https://github.com/MWDelaney/sage-acf-wp-blocks/blob/master/README.md](https://github.com/MWDelaney/sage-acf-wp-blocks/blob/master/README.md#filter-block-data)

[2020-11-29 17:11] AlexGach commented on #39
+1  Camel case was the problem for me, changing to middle dash solved it

[2020-12-03 22:49] syclone commented on #52
Hi, I just installed this plugin and got the same error with v0.6. I decided to try v0.5 after reading through these issues and it worked fine. For anyone who is like me and looking for a workaround, v0.5 did the trick.

So just install it like so:

`composer require mwdelaney/sage-acf-gutenberg-blocks:0.5`

[2020-12-08 19:04] tombroucke commented on #52
I have created a pull request that fixes this issue. In the meantime, you can fix the issue  by updating the template() function in helpers.php:
[code]

[2020-12-18 11:24] jnaklaas opened #55 "Translatable"
Could we do something like this in order to make the blocks translatable?

{{--
  Title: __('My custom block')
  Description: __('This is my custom block!')
--}}

[2020-12-22 16:12] tombroucke commented on #55
If translation is a must, you could add a filter:
[code]
As an alternative, you can use the `acf/register_block_type_args` filter in the same way if you want to add translations in only one function.

[2021-01-13 22:07] joshuafredrickson commented on #52
This is fixed in 0.7.

[2021-01-13 22:07] joshuafredrickson commented on #50
This is fixed in 0.7.

[2021-01-21 17:08] intelligence commented on #24
Noticed that if I set:
[code]
It won't show the block as full width

<br/>

But if I set:
[code]
It shows the block full width (and the align toggle is shown, with full as the only option)

[2021-02-01 21:31] timichango opened #56 "Blocks not available in WP custom post type"
Hello!  I've created a custom post type, with Gutenberg enabled. However, I'm not able to see any of my ACF blocks registered via this library in that context — they're simply not shown in the list of available blocks.

The blocks in question DO appear in default pages/posts types — just not in the custom post type.

Is this a known issue? A bug? Is there a workaround?

Sincere thanks in advance f

[2021-02-01 22:01] MWDelaney commented on #56
Make sure you haven't left in the default example value for `PostTypes:` in the comment at the top of your block template file.

[2021-02-01 22:47] timichango commented on #56
OMG.. DERP. That was totally it. I hadn't added my custom post type to the `PostTypes` setting in the block template's config. Which... is extra embarrassing, because I was totally aware of that setting, as the ability to assign custom blocks to exclusively to my custom post type was the whole damned reason I made the post type in the first place.

A million thanks,
  Tim

[2021-02-01 22:47] #56 closed

[2021-02-01 22:49] timichango commented on #56
Also, a billion thanks for this library. It's exactly the solution I needed for the project I'm working on, and likely for others in the future.

[2021-02-09 14:31] #42 closed

[2021-02-22 23:37] fabianwurk opened #57 "Blocks with Sage 10 and Tailwind - styling not showing on Gutenberg editor"
I'm trying to create Blocks - and use Tailwindcss for styling. The block appears with correct styling on frontend but not showing any preview styling on editor itself. Do I have to register the Tailwind styles for the editor preview?

I'm just using the default test block eg:

[code]
<img width="412" alt="Screenshot 2021-02-22 at 23 36 07" src="https://user-images.githubusercontent.com/18347097/10

[2021-03-10 14:26] daniela-waara opened #58 "Align text and Align content not adding classes"
[code]
The selector appears in the editor but doesn't seem to add any new align-classes in `$block['classes']` when chosen.
How do I use them?

[2021-03-10 14:37] #58 closed

[2021-03-16 13:25] atoupet-toki commented on #48
Hi @andevit did you find something ?? It's exactly what I need 😬

[2021-03-30 13:25] aj-fick opened #59 "Block not creating markup on frontend"
I've created a block that seems to be working in the editor as expected, however it does not display on the front end of the website at all. Instead of seeing the markup I've created, I see the following comment:

[code]

All of the details within that comment are correct, but there's no HTML. Below is the code in my block:

[code]

This markup is visible in the editor and is styled appropriately.

[2021-03-30 13:28] robmeijerink commented on #59
Did you use the_content filter on your output? @php apply_filters('the_content', $post->post_content); @endphp for example?

[2021-03-30 13:32] aj-fick commented on #59
This is the markup for the page I'm attempting to output on:

[code]

So, unless I'm misunderstanding, I'm outputting the content via the `get_the_content()` function. And I should note, that other blocks on that page, standard built-in WP blocks, are working.

[2021-03-30 13:37] robmeijerink commented on #59
I see, as noted in these docs https://developer.wordpress.org/reference/functions/get_the_content/, get_the_content() does not use the the_content filter. I think that is the reason your block does not render. I'm not sure why the other built-in blocks are working, I have not looked into that yet.

[2021-03-30 13:38] aj-fick commented on #59
@robmeijerink 🤦🏼  Thank you, That was precisely my issue.

[2021-04-23 18:32] Gandhi11 commented on #19
Hi @luukskeur, I have the same problem. It look like the `sage-acf-gutenberg-blocks.php` file loaded before the `acf_register_block_type` function is created.

I am using `ACF Pro 5.9.5` with `mwdelaney/sage-acf-gutenberg-blocks 0.7`

[2021-04-23 18:57] Gandhi11 commented on #19
I found the problem. I required `mwdelaney/sage-acf-gutenberg-blocks` on the root of bedrock instead of the root of the sage theme. 😥

[2021-04-28 20:47] tombroucke opened #60 ""Cannot end a section without first starting one" in v0.7 (Sage9)"
When a PHP error is encountered in a block, the specific error is not displayed, instead a "Cannot end a section without first starting one" error is shown. This makes debugging very difficult.

Line 202 > 207 should be replaced with the code in my pull request [#54](https://github.com/MWDelaney/sage-acf-wp-blocks/pull/54).

A temporary fix is to downgrade this package to v0.6 and applying the fix

[2021-04-29 14:02] MWDelaney commented on #57
Make sure you're enqueuing your styles on the back-end. Sage doesn't automatically include all your front-end styling in the editor.

[2021-05-04 19:29] da-kicks-87 opened #62 "Sage 9 - Enqueuing CSS and JS causes duplicates"
In the block template files in the top comments, I have added the path for my **main.css** file for **EnqueueStyle**.
I do this so I can see the preview of the block on in the WP Block Editor.

I use multiple SASS files that are compiled to **main.css**  (each .sass file represents a block). This is common practice for SASS.
When I use the browser inspector for the front website ,I see that the ma

[2021-06-14 13:32] da-kicks-87 commented on #14
I am using the ACF Pro version and I can't register a new block categories.
In **filters.php**
`add_filter( 'block_categories', function ($categories, $post ) {

  if ( $post->post_type !== 'post' ) {
      return $categories;
  }
  return array_merge(
      $categories,
      array(
          array(
              'slug' => 'acf-blocks',
              'title' => __( 'ACF Blocks', 'acf-blocks' ),

[2021-06-23 09:14] basvandertogt commented on #41
Tnx!

[2021-06-23 09:14] #41 closed

[2021-07-08 21:17] twinleafdev commented on #62
Having same issue. Any ideas?

[2021-07-08 21:59] twinleafdev commented on #62
I ended up enqueueing the scripts for admin and not using the block template comments

`add_action('admin_enqueue_scripts', function() {
    wp_enqueue_style('sage/main.css', asset_path('styles/main.css'), false, null);
    wp_enqueue_script('sage/main.js', asset_path('scripts/main.js'), ['jquery'], null, true);
});`

[2021-07-09 12:57] da-kicks-87 commented on #62
I have tried that, it seems to be the step in the right direction but more CSS issues occur when doing do. The` a` stylings from my custom color pallet variables get applied to my WP Dashboard options. So for example the list of Post Titles in Dashboard will be pink instead of blue.

The more I use ACF Blocks the more I see how unintuitive they are versus the native WP Blocks are. It weird having

[2021-07-09 14:38] robmeijerink commented on #62
This field was not intended to put the main.css in, but rather seperate css files that only have css that this block should use. If you add multiple blocks of the same type, the assets will only load once. But if you use the same css file for different blocks, you will get duplicates.

I use this feature to include a css or js file that only has stuff the block needs, not to include the main.css h

[2021-07-09 16:31] twinleafdev commented on #62
@da-kicks-87 I'm liking the custom blocks a lot more then repeater fields so far though I'm working on a fairly simple layout.

[2021-07-15 14:33] da-kicks-87 commented on #62
@robmeijerink Thanks for this explanation.

But the main.css has global theme variables and styles that all the blocks would depend on for an accurate preview. The main.css would have to be loaded in some way. So how would one get around not duplicating that or causing conflict with the Dashboard CSS?

[2021-08-10 18:59] syedumairumar opened #64 "Block breaks if I try to have a different name for the file"
This works amazing. My only complaint is that basically I have been put in a unique situation where I must change the name of the block file to be different than what's the block name. As of right now, if I change the name of the file, I get the following message "block doesn't exists" until I re-add the block. The problem is, I've already got several pages built and its going to be not less than

[2021-09-08 16:25] djmtype opened #65 "Feature Request: Specific Blocks for Specific Pages"
Please add support for targeting specific pages. For example, only allow a specific block to be added to the Home page.

[2021-09-09 16:01] hostis912 opened #66 "Problem with $block['data'] and preview mode in Gutenberg"
Hello, I have a problem with $block['data'] in Gutenberg.

I use Sage 10 and WP 5.8.

When I want to insert a block in preview mode it is not loaded and I get in the console the message: POST https://xxxxx.test/wp/wp-admin/admin-ajax.php 500. After some time Gutenberg shows something about JSON error and the page crashes after a reload.
But if you switch to edit mode, everything works without prob

[2021-10-25 16:17] djmtype opened #67 "Enqueue styles and scripts"
How do we properly enqueue styes and scripts with this plugin?

If I reference these files from the `dist` directory that Sage ends up building, they are appended with random characters, so that's not going to work unless this plugin understands Sage's asset handling.

Or do I need to process these files in advance?

[2021-11-18 17:11] igor-sumonja commented on #48
you can add dummy preview data like like this in meantime
Simple hook into filter

`add_filter('sage/blocks/button/register-data', function ($data) {

    $data['example'] = [
        'attributes' => [
            'mode' => 'preview',
            'data' => [
                'link' => [
                    'title' => 'Change me',
                    'url' => '#',
                    'target' => '_s

[2021-11-28 17:21] ninjacreative commented on #19
I seem to be having the same issue with Sage 9, despite using ACF Pro. Any recommendations on how to work around this when not using bedrock?

[2021-11-29 14:37] #66 closed

[2022-02-14 15:51] Swennet commented on #57
I have a similar issue, but it's specific to Gutenberg's "Preview" functionality for tablet/mobile view.

Here's my block:

[code]

It renders fine on the "Desktop" preview setting, but loses all custom styling when switching to "Tablet" or "Mobile".

Am I missing something that's required in the editor.css file to make it render CSS to the preview screens?

![Screenshot 2022-02-14 at 16 50 01](ht

[2022-02-21 21:32] colinswinney commented on #58
@daniela-waara did you ever get this figured out by chance?  I'm having the same problem.

[2022-02-22 08:29] daniela-waara commented on #58
@colinswinney yes, in the end i figured out that you needed to use `$block['align']`, `$block['align_content']` and `$block['align_text']` to get the positions

[2022-02-22 15:17] colinswinney commented on #58
@daniela-waara you're awesome, thank you for responding so quickly.

[2022-05-11 12:48] mantrone commented on #48
Any progress on this?

[2022-05-12 16:03] LazyRecon commented on #47
if i load acf from theme folder like specified [here](https://www.advancedcustomfields.com/resources/including-acf-within-a-plugin-or-theme/) blocks are not loaded. I move move it to plugin folder.

[2022-06-27 17:07] yannickninot commented on #67
Here is a temporary solution.
`In setup.php
if (has_block('acf/blockName')) {
   bundle('blockName')->enqueue();
}
`

[2022-07-04 14:57] djmtype commented on #67
@yannickninot Thanks, but that didn't seem to work with Sage 10.1.7 and Bud 5.8.7.
I verified the path is correct after running `yarn build`, but no hash gets appended to the testimonial.css file.

Maybe I'm doing something wrong.
`/resources/views/blocks/testimonial.blade.php`

testimonial.blade.php
`EnqueueStyle: /public/testimonial.css`

bud.config.js
[code]

[2022-07-04 16:29] djmtype commented on #67
If you want to expose those styles to the editor, you'll have to duplicate your efforts within **setup.php** under `enqueue_block_editor_assets`.

[code]

[2022-07-28 17:03] broskees commented on #5
I had a similar idea to @tombroucke

app/setup.php
[code]

app/BlockController.php
[code]

app/BlockControllers/block-slug.php
[code]

views/blocks/block-slug.blade.php
[code]

[2022-09-01 11:13] Striffly commented on #67
I found a trick to include the front style in Gutenberg :

1. Copy the style from your `app.css` file to the `editor.css` file (with a simple configuration, an @import should be enough).
2. Add the `postcss-prefixwrap` plugin. Use either `postcss.config.js` (tested) or `bud.config.js` (not tested). Set `.editor-styles-wrapper` as prefix.
3. Make sure that the plugin is only executed on the `editor

[2022-09-23 12:29] #60 closed

[2022-09-25 17:15] RichForever opened #70 "ACF 6 compability"
Hi, is there any plans to upgrade this plugin to work with block.json files introduced in ACF 6?

[2022-10-10 15:56] samlinck opened #71 "I can't enqueue scripts & styles anymore since that sage uses bud"
I can't enqueue scripts & styles anymore since that sage uses bud. Possibly because the 'dist' folder is now named 'public'?

Or is there something else I'm doing wrong maybe?
Folder the structure is as follows:
<img width="452" alt="image" src="https://user-images.githubusercontent.com/43540055/194907060-98777a2a-1a38-46c7-bc14-7df107627114.png">

And I reference my specific block code like this:

[2022-10-30 03:35] markifornia opened #72 "WYSIWIG field type - hmtl_entity_decode tags"
Anyone running into HTML markup not decoding properly, therefore resulting in tags being displayed as HTML entities?

Specifically for WYSIWIG fields types, I need to pass the field to an html_entity_decode function so any (p tags) for instance would render properly.

example.blade.php

`$headline = html_entity_decode(get_field('headline'));`

Thanks great plugin for blade and will continue to use

[2022-11-02 17:32] djmtype opened #73 "Widget blocks"
If I add `widget` to `PostTypes`, my ACF block is still unavailable in the widgets area. It's only when I entirely remove `PostTypes` is it available.

I also tried `widgets` and `widget_area` without any luck.